h2{
font-size: 30px;
margin-top: 30px;
color: rgb(0, 68, 255);
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(0, 68, 255);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(85, 38, 129);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
input[type="submit"]