body {
    background-color: rgba(185, 231, 245, 0.589);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

img {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;

}

nav {
    background-color: rgb(112, 192, 238);
    text-align: center;
    margin: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
}

nav a:hover {
    color: black;
}

header {
    background-color: rgb(111, 171, 194);
    color: #050505;
    text-align: center;
    padding: 15px;
}

.imagem {
    display: flex;

}

footer {
    background-color: rgb(111, 161, 194);
    color: #050505;
    text-align: center;
    padding: 15px;
}

a:hover {
    color: #006b96;
}

a {
    transition: color 0.3s ease;
}

.sobre-titulo {
    font-size: 32px;
    color: darkblue;
    margin-bottom: 20px;
}

.sobre-texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2.0;
    margin-top: 10px;
}

.sobre-lista{
    list-style:circle;
    padding-left: 0;
    margin-top: 15px;
}